# Core App & UI
streamlit
pandas
numpy>=2.0.0
scipy>=1.13.0
plotly
matplotlib
python-dotenv
watchdog

# ML Pipeline
xgboost
scikit-learn
joblib

# RAG & LLM Integration
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
pydantic
pydantic-settings
google-genai

# Utilities
requests
beautifulsoup4
tqdm
pyyaml
torchvision